<h3>how many ng-repeat?</h3>

<!--
<div>page: {{PageService.page}}
    <input ng-model="PageService.page" type="text" />
</div>
<div>page size: {{PageService.pageSize}}
    <input ng-model="PageService.pageSize" type="text" />
</div>
-->
<div class="question">
    <input type="text" 
           ng-model="divsNumber" 
           my-enter="generateDivs(divsNumber)">
    <button ng-click="generateDivs(divsNumber)">generate</button>
</div>


<div ng-repeat="(key, value) in arr1"  class="test2">
    <h5>Element number ->{{key}}</h5>
    <h5>value -> {{value}}</h5>
    <test2-dir>
    </test2-dir>
</div>