<div>
<!--
    <div>page: {{PageService.page}}
        <input ng-model="PageService.page" type="text" />
    </div>
    <div>page size: {{PageService.pageSize}}
        <input ng-model="PageService.pageSize" type="text" />
    </div>
-->

    <input type="text" ng-model="fieldA" />
    <input type="text" ng-model="fieldB" />
    <input type="text" ng-model="fieldC" />
    <input type="text" ng-model="fieldD" />
    <input type="text" ng-model="fieldE" />
    <input type="text" ng-model="fieldF" />
    <input type="text" ng-model="fieldG" />
    <input type="text" ng-model="fieldH" />
    <input type="text" ng-model="fieldI" />
    
</div>