<div>
<!--
    <div>page: {{PageService.page}}
        <input ng-model="PageService.page" type="text" />
    </div>
    <div>page size: {{PageService.pageSize}}
        <input ng-model="PageService.pageSize" type="text" />
    </div>
-->
    <h5>sending broadcast</h5>
    <label>fieldA</label>
    <input type="text" id="input-{{key}}-fieldA" ng-model="fieldA" /><br>
    <h5>listeners</h5>
    <label>fieldB</label>
    <input type="text" ng-model="fieldB" id="input-{{key}}-fieldB" /><br>
    <label>fieldC</label>
    <input type="text" ng-model="fieldC" id="input-{{key}}-fieldC" /><br>
    <label>fieldD</label>
    <input type="text" ng-model="fieldD" id="input-{{key}}-fieldD" /><br>
    <label>fieldE</label>
    <input type="text" ng-model="fieldE" id="input-{{key}}-fieldE" /><br>
    <label>fieldF</label>
    <input type="text" ng-model="fieldF" id="input-{{key}}-fieldF" /><br>
    <label>fieldG</label>
    <input type="text" ng-model="fieldG" id="input-{{key}}-fieldG" /><br>
    <label>fieldH</label>
    <input type="text" ng-model="fieldH" id="input-{{key}}-fieldH" /><br>
    <label>fieldI</label>
    <input type="text" ng-model="fieldI" id="input-{{key}}-fieldI" /><br>
    
</div>